<div class="container">
    <div class="row">
        <h1>Welcome to Good Burger, Home of the Good Burger!</h1>
        <h2>Can I take your Order?</h2>
    </div>

    {{!-- form to create burgers --}}
    <div class="row">
        <form class="order-form">
            <div class="form-items">
                <label for="newburger">Order Here, Dude!</label>
                {{!-- assigns id to entered info --}}
                <input type="text" id="newburger" name="burger">

                <button type="submit" class="btn btn-success" id="addburger">Submit</button>
            </div>
        </form>
    </div>

    <div class="row">
        {{!-- to devour --}}
        <div class="col-sm-6">
            <div class="panel panel-default">

                <div class="panel-heading" id="leftside"><strong>Devour Your Burger</strong>
                </div>
                {{!-- gets data & loops through & grabs undevoured & puts into unordered list --}}
                <div class="panel-body">
                    <ul>
                        {{#each burgers}}
                        {{#unless devoured}}

                        <span><strong> {{this.id}} - {{this.burger_name}}</strong></span>
                        <button type="button" class="devourburger btn btn-warning" id="devourbutton" data-id="{{this.id}}" data-newDevoured="{{devour}}"><strong>DEVOUR</strong></button>
                        <hr>

                        {{/unless}}
                        {{/each}}
                    </ul>
                </div>

            </div>
        </div>
        {{!-- devoured --}}
        <div class="col-sm-6">
            <div class="panel panel-default">
                {{!-- see above but w/ devoured's --}}
                <div class="panel-heading" id="rightside"><strong>Burgers Devoured</strong>
                </div>

                <div class="panel-body">
                    <ul>
                        {{#each burgers}}
                        {{#if devoured}}

                        <span><strong> {{this.id}} - {{this.burger_name}}</strong></span>
                        <hr>


                        {{/if}}
                        {{/each}}
                    </ul>
                </div>

            </div>
        </div>
    </div>

</div>